* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color;
  color: #fff;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
}

h2 {
  font-weight: 500;
  font-size: 1em;
  color: $primary-color;
  font-family: helvetica;
}

/* top-section */

.bundler {
  width: 100vw;
  height: 100%;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px #fff solid;

  @media #{$smallscreen} {
    flex-direction: column;
    align-items: center;
  }
}

.onethird {
  width: 360px;
  height: 360px;
  display: flex;
  align-items: flex-end;

  @media #{$smallscreen} {
    justify-content: center;
    align-items: center;
    height: 450px;
  }

  &.first {
    margin-left: 40px;
    background: url(../../images/logo.png) no-repeat center center / contain;

    @media #{$smallscreen} {
      margin-left: 0;
    }
  }

  .description {
    max-width: 300px;
    font-size: 14px;
    margin-left: 40px;

    @media #{$smallscreen} {
      margin-left: 0;
      max-width: 500px;
      text-align: center;
      font-size: 18px;
    }
  }
}

.flex-shrink {
  flex: 1 2 auto;

  @media #{$smallscreen} {
    display: none;
  }
}

/* bot-section */

.bundler2 {
  display: flex;
  width: 94vw;
  justify-content: flex-start;
  margin-top: -10px;

  @media #{$smallscreen} {
    width: 100vw;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
  }
}

.apply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media #{$smallscreen} {
    flex-direction: row;
  }
}

.btn {
  min-width: 220px;
  height: 64px;
  max-width: 280px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
  border: none;
  user-select: none;

  &:hover {
    background-color: #f5f5f5;
  }
}

.dot {
  width: 10px;
  height: 10px;
  margin-top: 5px;
  border-radius: 50%;
  background-color: #fff;

  @media #{$smallscreen} {
    display: none;
  }
}

.flex-spacing {
  flex: 0 1 150px;

  @media #{$smallscreen} {
    display: none;
  }
}

.flex-spacing2 {
  flex: 0 1 280px;

  @media #{$smallscreen} {
    display: none;
  }
}

.flex-spacing3 {
  flex: 2 1 auto;

  @media #{$smallscreen} {
    display: none;
  }
}

.line {
  border-left: 2px solid #fff;
  height: 48px;

  @media #{$smallscreen} {
    display: none;
  }
}

/* form */

input {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  text-shadow: none;
  outline: none;
  color: #fff;
  font-size: 1em;
  overflow: visible;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  background: transparent;
  width: 100%;
}

button {
  align-self: center;
  width: 50%;
  font: inherit;
  outline: none;
  margin-top: 40px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bundler3 {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media #{$smallscreen} {
    margin: 100px 0 100px 0;
  }
}

.form-container {
  visibility: hidden;
  width: 20%;

  @media #{$smallscreen} {
    visibility: visible;
    width: 80%;
  }
}

.form-container.show {
  visibility: visible;
}

.input {
  margin: 0 0 30px;
}
