---
title: Welcome to Middleman
---
<!-- <div class="header-container">
  <%= link_to(
    "Github repo",
    "https://github.com/jaydaman/lanuari",
    target: "_blank"
  ) %> -->
  <!-- <h1>
    Lanuari
  </h1>

</div>

<div class="text-container">
  <div class="text-block">
    <p>Löksås ipsum upprätthållande samtidigt åker miljoner bra ser oss rännil färdväg, tre om vemod det för inom tidigare som kan, lax där regn kunde äng bra rännil för hans. Som inom kom sin annan sjö hav gamla jäst sitt söka, dimma och år dag bra miljoner vidsträckt nya så av helt, både bäckasiner annat själv miljoner helt själv om samtidigt.</p>
  </div>
  <div class="text-block">
    <p>Löksås ipsum upprätthållande samtidigt åker miljoner bra ser oss rännil färdväg, tre om vemod det för inom tidigare som kan, lax där regn kunde äng bra rännil för hans. Som inom kom sin annan sjö hav gamla jäst sitt söka, dimma och år dag bra miljoner vidsträckt nya så av helt, både bäckasiner annat själv miljoner helt själv om samtidigt.</p>
  </div>
  <div class="text-block">
    <p>Löksås ipsum upprätthållande samtidigt åker miljoner bra ser oss rännil färdväg, tre om vemod det för inom tidigare som kan, lax där regn kunde äng bra rännil för hans. Som inom kom sin annan sjö hav gamla jäst sitt söka, dimma och år dag bra miljoner vidsträckt nya så av helt, både bäckasiner annat själv miljoner helt själv om samtidigt.</p>
  </div>
</div> -->


<div class="bundler">
  <div class="onethird first">
  </div>

  <div class="onethird ">
    <p class="description">Lanuari 2019<br>
    ~<br><br>
    Östra hamngatan 1
    Adress till Varvet
    Email kontakt
    <br><br>
    Ta med egen PC om du vill
    Det finns Mac på plats
    Mat och dricka kommer
    att finnas på plats. Vi har endast 15 platser
    <br><br>
    First come first serve
    </p>
  </div>
  <div class="onethird">
  </div>
  <div class="onethird">
    <img src="./images/comps.png">
  </div>
</div>
