---
title: Welcome to Middleman
---

<div class="bundler">
  <div class="onethird first">
  </div>

  <div class="onethird ">
    <p class="description">Lanuari 2019<br>
    1 februari<br>
    ~<br><br>
    Östra hamngatan 1<br>
    Email kontakt
    <br><br>
    Ta med egen PC om du vill<br>
    Mac till hands på plats<br>
    Mat och dricka finnes<br>
    Vi har endast 15 platser
    <br><br>
    First come first serve<br>
    OSA
    </p>
  </div>
  <div class="onethird flex-shrink">
  </div>
  <div class="onethird">
    <img src="./images/comps.png">
  </div>
</div>
<div class="bundler2">
  <div class="flex-spacing">
  </div>
  <div class="dot">
  </div>
  <div class="flex-spacing2">
  </div>
  <div class="dot">
  </div>
  <div class="flex-spacing3">
  </div>
  <div class="apply">
    <div class="dot">
    </div>
    <div class="line">
    </div>
    <div class="btn" onclick="formDisplay()">
      <h2>ANMÄL DIG HÄR</h2>
    </div>
  </div>
</div>
<div class="bundler3" >
  <div class="form-container" id="formFunction">
    <form class="" name="submission" method="post" data-netlify="true">
      <div class="">
        <label>Namn </label>
        <div class="input">
          <input type="text" name="name">
        </div>
      </div>
      <div class="">
        <label>Alias </label>
        <div class="input">
          <input type="text" name="name">
        </div>
      </div>
      <div class="">
        <label>Förslag på spel </label>
        <div class="input">
          <input type="text" name="name">
        </div>
      </div>
      <button class="btn" type="submit" name="button"><h2>SKICKA IN</h2></button>
    </form>
  </div>

</div>
