---
title: Success
---
<div class="center">
  <div class="content">
    <div class="content__img">
    </div>
    <p class="content__message">
      Tack!<br>
      Din anmälan har skickats.
    </p>
    <div class="content__wrap">
      <div class="content__link">
        <i class="material-icons left">
          arrow_back
        </i>
        <a href="/index.html">
          Tillbaka till sidan
        </a>
      </div>
      <div class="content__link">
        <a href="https://www.google.com/">
          Gör något annat
        </a>
        <i class="material-icons right">
            arrow_forward
        </i>
      </div>
    </div>


  </div>
</div>
